<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reminders.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>FinGe</title>
</head>

<body>
    <div class="container-box">
        <div class="top-bar">
            <button onclick="history.back()"><i class="fa-solid fa-arrow-left"></i></button>
            <span>Lời nhắc nhở</span>
            <button><i class="fa-solid fa-gear"></i></button>
        </div>
    </div>
</body>

</html>