<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/responsives.css">
    <link rel="stylesheet" href="../css/reminders.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>FinGe - Lời nhắc nhở</title>
</head>

<body>
    <div class="box">
        <div class="form content-wrapper">
            <div class="container-box">
                <div class="top-bar">
                    <button onclick="window.location.href ='/expense-statistic'"><i
                            class="fas fa-arrow-left"></i></button>
                    <span class="title">Thêm giao dịch</span>
                    <button><i class="fas fa-gear" style="display: none;"></i></button>
                </div>
                <form action="/add-transaction" method="post">
                    <div class="content">
                        <div class="form-group">
                            <label>Tiền mặt</label>
                            <input type="text" class="form-control" name="money">
                        </div>
                        <div class="form-group">
                            <label>Chọn nhóm</label>
                            <select id="slect-group" class="form-select" name="totalStatus">
                                <option selected value="expense">chi tiêu</option>
                                <option value="income">thu nhập</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Ghi chú</label>
                            <input type="text" class="form-control" name="note" placeholder="Ghi chú...">
                        </div>
                        <div class="form-group">
                            <label>Ngày thêm</label>
                            <input type="date" class="form-control" name="date"
                                value="<%= new Date().toISOString().split('T')[0] %>">
                        </div>
                        <button class="btn-save">Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>