<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tแบกo Quแปน</title>
    <link rel="stylesheet" href="/css/budgetting.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
    />
  </head>

  <body>
    <!-- Phแบงn ฤแบงu : Tแบกo quแปน -->
    <header>
      <div class="header-container">
        <button class="back-btn"><i class="bi bi-arrow-left"></i></button>
        <h1>Tแบกo quแปน</h1>
        <button class="settings-btn"><i class="bi bi-gear"></i></button>
      </div>
    </header>

    <!-- Phแบงn chรญnh: Hoแบกt ฤแปng tแบกo quแปน -->
    <main>
      <form action="/created-budget" , method="GET">
        <section class="my-fund">
          <div class="title_first">
            <h2>Quแปน cแปงa tรดi</h2>
            <a href="/budget-create">
              <div class="add-fund-btn">+ Tแบกo quแปน (1/10)</div>
            </a>
          </div>
          <% listBudget.forEach(function(budget) { %>
            <div class="fund-card">
              <div class="block_content_img">
                <span class="fund-label">Chแปง quแปน</span>
                <img
                  src="/images/anh_restaurant.png"
                  alt="Nhร hรng"
                  class="fund-image"
                />
                <div class="title_fund"><%= budget.budget_name %></div>
              </div>
        
              <div class="progress-bar">
                <div class="progress" style="width: 20%"></div>
              </div>
              <p class="fund-amount"><%= budget.budget_amount %></p>
            </div>
          <% }); %>
        </section>

        <section class="suggested-funds">
          <h2>Cรกc gแปฃi รฝ tแบกo quแปน khรกc</h2>
          <div class="fund-option personal">โญ Mแป quแปน cรก nhรขn</div>
          <div class="fund-option couple">โค๏ธ Mแป quแปน vแปi ngฦฐแปi yรชu</div>
          <div class="fund-option friends">๐ฅ Mแป quแปน vแปi bแบกn bรจ</div>
          <div class="fund-option work">๐ผ Mแป quแปน vแปi ฤแปng nghiแปp</div>
        </section>

        <section class="help-section">
          <button class="help-btn">๐ Hฦฐแปng dแบซn chi tiรชu</button>
          <button class="help-btn">๐ฐ Hแบกn mแปฉc quแปน</button>
        </section>
      </form>
    </main>

    <!-- Lแปp phแปง nแปn mแป
    <div class="overlay"></div> -->

    <!-- Hแปp thoแบกi ฤแบทt tรชn quแปน
    <form action="/created-budget" , method="POST">
      <div class="fund-popup">
        <h3>ฤแบทt tรชn cho Quแปน cแปงa bแบกn</h3>
        <div class="input-container">
          <label for="fund-name">Tรชn quแปน (0/60)</label>
          <input
            type="text"
            id="fund-name"
            placeholder="Nhแบญp tรชn quแปน..."
            name="fundName"
          />
        </div>

        <div class="suggested-names">
          <div class="fund-option1 selected">๐ Tรญch lลฉy cho tฦฐฦกng lai</div>
          <div class="fund-option1">๐ฅ Dแปp ฤแบทc biแปt vแปi ngฦฐแปi thฦฐฦกng</div>
          <div class="fund-option1">๐ถ Cรบn yรชu</div>
          <div class="fund-option1">๐ Ngรy hแบกnh phรบc</div>
        </div>

        <hr id="line" />

        <div class="terms">
          <input type="checkbox" id="terms-checkbox" />
          <label for="terms-checkbox"
            >Tรดi ฤแปng รฝ vแปi <a href="#">ฤiแปu Khoแบฃn</a> vร
            <a href="#">ฤiแปu kiแปn sแปญ dแปฅng dแปch vแปฅ</a></label
          >
        </div>

        <a href="/budget-create">
          <div class="confirm-btn">Xรกc nhแบญn</div>
        </a> -->
        
      </div>
    </form>
    <script src="/js/budgetting.js"></script>
  </body>
</html>
