<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách lời nhắc</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../CSS/reminders.css">

</head>

<body>
    <div class="container-box">
        <div class="top-bar" style="width: 93%;">
            <button onclick="history.back()"><i class="fa-solid fa-arrow-left"></i></button>
            <span>Lời nhắc nhở</span>
            <button><i class="fa-solid fa-gear"></i></button>
        </div>

        <div class="filter-tabs">
            <button id="upcoming-tab" class="active">Sắp đến</button>
            <button id="overdue-tab">Quá hạn</button>
            <button id="completed-tab">Hoàn thành</button>
        </div>

        <div class="reminder-list" id="reminderList"></div>

        <button class="btn-add-reminder" onclick="window.location.href='/view-reminders/create-reminder'">+ Thêm lời
            nhắc</button>
    </div>
    <script src="/js/reminderScript.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>